body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none !important;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

/* SWIPER */
.mySwiper {
  height: 24rem !important;
}

@media only screen and (max-width: 768px) {
  .mySwiper {
    height: 20rem !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .no-display > :last-child {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .mySwiper {
    height: 16rem !important;
  }
}
.line {
  border: 1.5px solid;
  flex: 1;
  height: 0.3rem;
}
/* USER PROFILE */
.user-profile:hover .user-profile-box {
  opacity: 1;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: translateY(-0.2rem);
  pointer-events: all;
}
.user-profile-box {
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  z-index: 100;
  transform: translateY(2.5rem);
  pointer-events: none;
}
/* SELECT COMPONENT */
.select-mobile {
  width: 100%;
  margin-inline: auto;
}
/* IMAGE UPLOAD CONTAINER/BOX */
